= content_for :content do

  %header
    .head
      .big-gear
      .small-gear
    %h1 Manifiesto por una mejor industria TI
    %hr
    %p Santiago 1 de mayo de 2013
    %hr

  %section
    %dl
      %dt Software que funciona y es fácil de usar y mantener
      %dd En lugar de kilos de documentación y manuales­-parche que nadie lee.

      %dt Líderes técnicos competentes
      %dd En lugar de jefes de proyecto que sólo saben “gestionar” y re­enviar mails.

      %dt Equipos sólidos, motivados y constantes en el tiempo
      %dd En lugar de rotación interminable y tener múltiples líderes de proyectos en el tiempo.

      %dt Profesionales realmente talentosos y experimentados
      %dd En lugar de ejércitos de mano de obra mediocre que aprende con tu proyecto.

      %dt Relaciones de confianza mutua
      %dd En lugar de contratos con docenas de páginas y centenares de condiciones.

      %dt Flexibilidad en el diseño y desarrollo
      %dd En lugar de documentos de requerimientos sagrados y procesos tediosos.

      %dt Tecnología realmente de punta
      %dd En lugar de costosas herramientas “world class” de la década pasada.

    %hr

  %section
    %p.lead Creemos que una mejor industria TI puede ayudar al desarrollo del país y de la región, entregando a todo el ecosistema económico mejores herramientas, más automatización, mejores sistemas y mayor inteligencia. El primer paso en esta dirección es alejarnos del mito de que los plazos incumplidos, los presupuestos que se duplican y los sistemas poco usables y plagados de errores son parte de la industria TI.

    %p.lead
      %strong No lo son. ¡Haz la prueba!

  %section.gridview
    %ol
      %li#continuum
        %a{:href => "#"}
          %img{:src => "assets/images/logos/continuum.gif"}
          %span Continuum
      %li#experimento
        %a{:href => "#"}
          %img{:src => "assets/images/logos/experimento.gif"}
          %span Experimento Social
      %li#synaptic
        %a{:href => "#"}
          %img{:src => "assets/images/logos/synaptic.gif"}
          %span Synaptic
      %li#acid
        %a{:href => "#"}
          %img{:src => "assets/images/logos/acid.gif"}
          %span Acid
      %li#platanus
        %a{:href => "#"}
          %img{:src => "assets/images/logos/platanus.gif"}
          %span Platanus
      /%li#magnet
      /  %a{:href => "#"}
      /    %img{:src => "assets/images/logos/magnet.gif"}
      /    %span Magnet
      %li#unete
        %a{:href => "#"}
          %img{:src => "assets/images/logos/unete.gif"}
          %span Unete

